---
import NonHomeLayout from "../layouts/Layout.astro";
---

<NonHomeLayout>
  <div id="background-img" class="-z-30"></div>
  <div id="wrapper" class="w-full mx-auto md:max-w-[1300px] px-2 md:px-10">
    <h1
      class="h-[50vh] mt-[3em] text-7xl font-poppins text-center text-black uppercase"
    >
      404: Page Not Found.
    </h1>
    <main></main>
  </div>

  <style></style>
</NonHomeLayout>
