---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div id="background-img" class="-z-30"></div>
  <div
    id="wrapper"
    class="w-full mx-auto md:max-w-[1300px] mt-16 pt-10 md:pt-20 md:mt-[5em] px-2 md:px-10"
  >
    <main id="outer-container" class="pb-10">
      <section id="inner-container" class="bg-white">

      <!-- Event Overview section -->
      <section class="bg-gray-100 py-16 select-none pointer-events-none rounded-lg">
        <div class="container mx-auto px-5 md:px-10 lg:px-20">
          <h2
            class="text-gray-800 mb-4 text-center pb-10 font-playfair text-4xl font-light"
          >
            Event Overview.
          </h2>
          <p class="text-gray-600 leading-relaxed text-[1rem] font-sans">
            Welcome to Ecstasy 2023, the most anticipated cultural festival of
            the year! This year, our festival promises to be bigger and better
            than ever before, with an exciting lineup of events and activities
            that celebrate the rich and diverse cultural heritage of our college
            community. Ecstasy 2023 will be held on 16, 17 & 18 March, 2023 at
            Central Institute of Technology, Kokrajhar, and will feature a wide
            range of performances, workshops, and interactive experiences. From
            traditional music and dance to modern art and fashion, there's
            something for everyone at Ecstasy 2023. Our festival is a
            celebration of the unique and vibrant cultural identities that make
            our college community so special. Through a variety of performances
            and activities, we aim to promote understanding, respect, and
            appreciation for the diverse cultures and traditions that enrich our
            lives. So mark your calendars and get ready for an unforgettable
            experience at Ecstasy 2023. We can't wait to see you there!
          </p>
        </div>
      </section>

      <!-- Mission Statement section -->
      <section class="bg-white py-16 select-none pointer-events-none">
        <div class="container mx-auto px-5 md:px-10 lg:px-20">
          <h2
            class="text-gray-800 mb-4 text-center pb-10 font-playfair text-4xl font-light"
          >
            Mission Statement.
          </h2>
          <p class="text-gray-600 leading-relaxed font-sans text-[1rem]">
            Our mission at Ecstasy 2023 is to celebrate the rich and diverse
            cultural heritage of our college community through a series of
            events and activities that promote understanding, respect, and
            appreciation for the various cultures and traditions that make our
            community unique. We strive to create an inclusive and welcoming
            environment where everyone can come together to share in the joy of
            art, music, dance, fashion, and more. Through our festival, we aim
            to inspire creativity, foster cultural exchange, and strengthen the
            bonds of our community.
          </p>
        </div>
      </section>
    </section>
     <!-- Map to College -->
      <section class="bg-gray-100 py-16 rounded-lg">
        <div class="container mx-auto px-4">
            <h1 class="text-center font-serif text-3xl">Visit Us At</h1>
            <p class="text-black text-2xl font-serif text-center pb-10">Central Institute of Technology, Kokrajhar, Balagaon Pt-I, Assam</p>
          <div class="w-full h-96 rounded-lg border-2">
            <iframe
              class="w-full h-full rounded-lg"
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3571.3070762469947!2d90.30044981545717!3d26.478055985039564!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3758f4d277d13e8d%3A0x233749495bfdb465!2sCentral%20Institute%20of%20Technology%2C%20Kokrajhar!5e0!3m2!1sen!2sin!4v1677676861572!5m2!1sen!2sin"
              width="600"
              height="450"
              style="border:0;"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
        </div>
      </section>
    </main>
  </div>

  <style>
 
  </style>
</Layout>
