---
import NonHomeLayout from "../layouts/NonHomeLayout.astro";
---

<NonHomeLayout>
  <main>
    <div
      class="section1 bg-cover bg-center h-52 md:h-96"
      style="background-image: url('https://images.unsplash.com/photo-1654299194534-7e5445e8f08a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80');"
    >
      <div
        class="contact text-white text-center space-y-2 mx-24 py-20 md:py-44"
      >
        <div class="contact-us font-poppins font-bold text-3xl md:text-5xl">
          CONTACT US
        </div>
      </div>
    </div>

    <div class="section2 flex-auto md:flex items-center justify-center">
      <div class="left bg-black text-white py-8 text-center hidden md:block">
        <p>im thinking of inserting map here</p>
      </div>
      <div
        class="center py-8 text-center sm:flex items-center justify-center gap-5 space-y-4"
      >
        <div class="font-poppins font-semibold text-xl">Reach Us</div>
        <div class="mx-16 space-y-4">
          <p class="flex items-center justify-start gap-5">
            <img
              class="h-4"
              src="https://cdn-icons-png.flaticon.com/512/126/126509.png"
              alt="Contact Number"
            />+91 12345 67890
          </p>

          <p class="flex items-center justify-start gap-5">
            <img
              class="h-4"
              src="https://cdn-icons-png.flaticon.com/512/542/542638.png"
              alt="Mail"
            />abc@cit.ac.in
          </p>

          <p class="flex items-center justify-start gap-5">
            <img
              class="h-4 text-left"
              src="https://cdn-icons-png.flaticon.com/512/3177/3177361.png"
              alt="Location"
            />Balagaon, Kokrajhar, Assam 783370
          </p>
        </div>
      </div>
      <div
        class="right bg-black text-white py-8 text-center sm:flex items-center justify-center gap-5 space-y-4"
      >
        <div class="font-poppins font-semibold text-xl">Join Our Event</div>

        <div class="space-y-4">
          <div class="mx-10">
            if youre looking forward to participate in our events tap the button
            here 👋
          </div>

          <button
            class="bg-yellow-600 hover:bg-white hover:text-black text-white font-bold py-2 px-4 rounded"
          >
            <a href="#">Events</a></button
          >
        </div>
      </div>
    </div>

    <div class="section3"></div>
  </main>
</NonHomeLayout>
