---
import NonHomeLayout from "../../layouts/Layout.astro";
import SportsCard from "../../components/SportsCard.astro";
---

<NonHomeLayout>
  <div id="background-img" class="-z-30"></div>
  <div
    id="wrapper"
    class="w-full mx-auto md:max-w-[1300px] mt-16 md:mt-[5em] px-2 md:px-10 sm:pb-10"
  >
    <h1 class="text-5xl font-playfair font-black text-center text-black pb-10">
      Explore Sports Events
    </h1>
    <main>
      <section id="group1" class="pb-2">
        <p class="text-black sm:ml-[5em] font-black font-playfair text-2xl">
          OUTDOOR GAMES
        </p>
      </section>
      <div
        id="contest-container"
        class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-5 pb-10 place-items-start"
      >
        <SportsCard
          sportNo="1"
          title="Marathon"
          date="12/03/23"
          venue="N/A"
          time="N/A"
          coordinators={[]}
        />
        <SportsCard
          sportNo="2"
          title="100m Race"
          date="12/03/23"
          venue="N/A"
          time="N/A"
          coordinators={[]}
        />
        <SportsCard
          sportNo="3"
          title="400m Race"
          date="12/03/23"
          venue="N/A"
          time="N/A"
          coordinators={[]}
        />
        <SportsCard
          sportNo="4"
          title="Relay Race"
          date="12/03/23"
          venue="N/A"
          time="N/A"
          coordinators={[]}
        />
        <SportsCard
          sportNo="5"
          title="ShotPut"
          date="12/03/23"
          venue="N/A"
          time="N/A"
          coordinators={[]}
        />
        <SportsCard
          sportNo="6"
          title="Javelin Throw"
          date="12/03/23"
          venue="N/A"
          time="N/A"
          coordinators={[]}
        />
        <SportsCard
          sportNo="7"
          title="Long Jump"
          date="12/03/23"
          venue="N/A"
          time="N/A"
          coordinators={[]}
        />
        <SportsCard
          sportNo="8"
          title="High Jump"
          date="12/03/23"
          venue="N/A"
          time="N/A"
          coordinators={[]}
        />
        <SportsCard
          sportNo="9"
          title="Discus Throw"
          date="12/03/23"
          venue="N/A"
          time="N/A"
          coordinators={[]}
        />
        <SportsCard
          sportNo="10"
          title="Football"
          date="12/03/23"
          time="N/A"
          venue="Football Ground"
          coordinators={[
            "Kanish Brahma",
            "Manash Pratim Baro",
            "Rupen Basumatary",
            "Susmita Mandal",
          ]}
        />
        <SportsCard
          sportNo="11"
          title="Cricket"
          date="12/03/23"
          time="N/A"
          venue="Football Ground"
          coordinators={[
            "Anup Jyoti Baruah",
            "Bishal Kr. Deka",
            "Lalit Sungkrang",
          ]}
        />
        <SportsCard
          sportNo="12"
          title="Basketball"
          date="20/03/23"
          time="N/A"
          venue="Basketball Court"
          coordinators={[
            "Thulunga Muchahary",
            "Bhargav Patowary",
            "Gyandeep Basumatary",
            "Rose Deori",
          ]}
        />
        <SportsCard
          sportNo="13"
          title="Volleyball"
          date="18/03/23"
          time="N/A"
          venue="Volleyball Court"
          coordinators={[
            "Abhijit Narzary",
            "Kuldeep Brahma",
            "Riya Raj",
            "Arliz Hanna Basumatary",
          ]}
          regLink="https://docs.google.com/forms/d/e/1FAIpQLSdYnhRqPBWFhYeMZdU760SAADWbx6h4jxg8RrwiL5YuKNWFMQ/viewform?usp=sf_link"
        />
        <SportsCard
          sportNo="14"
          title="Kabaddi"
          date="22/03/23"
          time="N/A"
          venue="Football Ground"
          coordinators={[
            "Jishnu Bayan",
            "Kaushik Ranjan Gogoi",
            "Rose Deori",
            "Kamalika Kashyap",
          ]}
          regLink="https://docs.google.com/forms/d/e/1FAIpQLSe1Dp7qTx-XmKplP91A5H3gpm-aXERH0ZSgUgcZW7X9vD2fGw/viewform?usp=sf_link"
        />
        <SportsCard
          sportNo="15"
          title="Tug of War"
          date="23/03/23"
          venue="Football Ground"
          time="N/A"
          coordinators={[
            "Tonmay Tamuli",
            "Sona Barlamfa Borosa",
            "Krishna Bania",
            "Ishwani Mallick",
            "Rose Deori",
          ]}
          regLink="https://forms.gle/nZgzs6VdM386F2ZLA"
        />
        <SportsCard
          sportNo="16"
          title="Lawn Tennis"
          date="12/03/23"
          venue="N/A"
          time="N/A"
          coordinators={[]}
        />
        <SportsCard
          sportNo="17"
          title="Power Lifting"
          date="23/03/23"
          time="N/A"
          venue="Volleyball Court"
          coordinators={["Rajdeep Barman", "Pranami Buragohain"]}
          regLink="https://forms.gle/w8Rmk3qHwhXtiiKY6"
        />
      </div>

      <section id="group1" class="pb-2">
        <p class="text-black font-black sm:ml-[5em] font-playfair text-2xl">
          INDOOR GAMES
        </p>
      </section>
      <div
        id="contest-container"
        class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-5 pb-10 place-items-start"
      >
        <SportsCard
          sportNo="1"
          title="Badminton"
          date="20/03/23"
          venue="Auditorium"
          time="N/A"
          coordinators={[
            "Bhairab Kalita",
            "Wasim Akram",
            "Kamalika Kashyap",
            "Shiuli Goswami",
          ]}
          regLink="https://docs.google.com/forms/d/e/1FAIpQLSfkj7T5C4g7c6-fdn0GFGQ524M4Rw2w33-KjwIGw_NPzVnVHA/viewform?usp=sf_link"
        />
        <SportsCard
          sportNo="2"
          title="Chess"
          date="12/03/23"
          venue="Classroom No. 122"
          time="11:30am-12:30pm"
          coordinators={[
            "Bitupan Konwar",
            "Swapnanil Dekaraja",
            "Kundalika Goswami",
          ]}
          regLink="https://docs.google.com/forms/d/e/1FAIpQLSdgZVjlaOho4_Hjpo90kP0kKoA0ZLr7rwNbqX7Zoq0xSqHnSA/viewform"
        />
        <SportsCard
          sportNo="3"
          title="Carrom"
          date="21/03/23"
          time="10:30am"
          venue="Auditorium"
          coordinators={[
            "Chitra Ranjan Doley",
            "Hemchandra Borah",
            "Susmita Mandal",
            "Nihar Baruah",
          ]}
          regLink="https://forms.gle/j6zRYzGtVrTgvWoV7"
        />
        <SportsCard
          sportNo="4"
          title="Table Tennis"
          date="12/03/23"
          time="N/A"
          venue="Auditorium"
          coordinators={[]}
        />
      </div>
    </main>
  </div>
</NonHomeLayout>
<style>
  #background-img {
    position: fixed;
    top: 0;
    bottom: 0;
    height: 100vh;
    width: 100%;
    background-image: url("/assets/ecstasy.webp");
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    background-position: center;
    filter: grayscale(30%);
    filter: brightness(100%);
  }
</style>
