---

---
<div id="sponsor-container" class="">
	<section id="header">
		<h1 class="text-center font-playfair text-5xl font-medium">Our Sponsors</h1>
	</section>
	<div class="swiper w-full h-[20rem] mt-10">
	<div class="swiper-wrapper">
		<div class="swiper-slide bg-pink-200">Slide 1</div>
		<div class="swiper-slide bg-green-300">Slide 2</div>
		<div class="swiper-slide bg-red-500">Slide 3</div>
		<div class="swiper-slide bg-green-300">Slide 4</div>
		<div class="swiper-slide bg-red-500">Slide 5</div>
		<div class="swiper-slide bg-green-300">Slide 6</div>
		<div class="swiper-slide bg-red-500">Slide 7</div>
	</div>
	<!-- If we need pagination -->
	<!-- <div class="swiper-pagination"></div> -->

	<!-- If we need navigation buttons
	<div class="swiper-button-prev"></div>
	<div class="swiper-button-next"></div> -->

	<!-- If we need scrollbar
	<div class="swiper-scrollbar"></div> -->
	</div>
</div>


<!--SWIPERjs-->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>

<!--SWIPERjs Script -->
<script is:inline src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
<script is:inline>
	const swiper = new Swiper('.swiper', {
		// Optional parameters
		direction: 'horizontal',
		loop: true,
		slidesPerView: "7",
		speed: 1000,
		autoplay: {
		delay: 500,
		disableOnInteraction: false,

 		},

  // If we need pagination
  pagination: {
    el: '.swiper-pagination',
  },

  // Navigation arrows
  navigation: {
    nextEl: '.swiper-button-next',
    prevEl: '.swiper-button-prev',
  },

  // And if we need scrollbar
  scrollbar: {
    el: '.swiper-scrollbar',
  },
});
</script>

<style>
</style>