---
---

<section
  id="members-container"
  class="px-10 flex flex-col sm:justify-center sm:items-center"
>
  <h1 class="font-poppins text-3xl font-light pb-10 text-center text-black">
    CONVENORS AND COORDINATORS.
  </h1>
  <div
    id="flex-container"
    class="grid sm:grid-cols-2 md:grid-cols-3 place-items-start gap-5 sm:gap-10 text-black w-full"
  >
    <details
      open
      id="chief-convenors"
      class="border-black border-b-2 w-full sm:border-0 p-2"
    >
      <summary
        class="font-poppins font-light text-xl pb-1 cursor-pointer select-none"
        >Chief Convenors</summary
      >
      <ul class="ml-10 font-black uppercase">
        <li>Amarjit Brahma</li>
        <li>Kosturi Gogoi</li>
        <li>Abhishek Boro</li>
      </ul>
    </details>

    <details
      open
      id="Co-convenors"
      class="border-black border-b-2 w-full sm:border-0 p-2"
    >
      <summary
        class="font-poppins font-light text-xl pb-1 cursor-pointer select-none"
      >
        Co-Convenors
      </summary>
      <ul class="ml-10 font-black uppercase">
        <li>Maophung Lu Lahary</li>
        <li>Dwrbi Daimari</li>
      </ul>
    </details>

    <details
      open
      id="public-relation"
      class="border-black border-b-2 w-full sm:border-0 p-2"
    >
      <summary
        class="font-poppins font-light text-xl pb-1 cursor-pointer select-none"
      >
        Sponsor, Public Relations <br /> & Publicity Coordinators
      </summary>
      <ul class="ml-10 font-black uppercase">
        <li>Suman Ch Roy</li>
        <li>Bidisha Gogoi</li>
        <li>Shekhar Pritam Chaliha</li>
        <li>Abhay Chetri</li>
        <li>Priyanka Hazarika</li>
      </ul>
    </details>

    <details
      open
      id="cultural"
      class="border-black border-b-2 w-full sm:border-0 p-2"
    >
      <summary
        class="font-poppins text-xl font-light pb-1 cursor-pointer select-none"
      >
        Cultural Coordinators
      </summary>
      <ul class="ml-10 font-black uppercase">
        <li>Simangsa Baro</li>
        <li>Sushma Brahma</li>
        <li>Jiyaul Alom Ahmed</li>
        <li>Bhargav Borgohain</li>
        <li>Bindia Basumatary</li>
      </ul>
    </details>

    <details
      open
      id="Stage"
      class="border-black border-b-2 w-full sm:border-0 p-2"
    >
      <summary
        class="text-xl font-poppins font-light pb-1 cursor-pointer select-none"
      >
        Stage & Pandal Coordinators
      </summary>
      <ul class="ml-10 font-black uppercase">
        <li>Benjamin Taye</li>
        <li>Monoroma Hajong</li>
        <li>Rahul Choudhary</li>
        <li>Nirmallya Dey</li>
        <li>Anjima Bargayary</li>
        <li>Jyotirmoy Das</li>
      </ul>
    </details>

    <details
      open
      id="Games"
      class="border-black border-b-2 w-full sm:border-0 p-2"
    >
      <summary
        class="text-xl font-poppins font-light pb-1 cursor-pointer select-none"
      >
        Games & Sports Coordinators
      </summary>
      <ul class="ml-10 font-black uppercase">
        <li>Hiranjan Basumatary</li>
        <li>Dipshikha Barman</li>
        <li>Irak Machahary</li>
        <li>Lalit Sangkhrang</li>
        <li>Sona Barlamfa Borosa</li>
        <li>Hilima Basumatary</li>
      </ul>
    </details>

    <details
      open
      id="Art"
      class="border-black border-b-2 w-full sm:border-0 p-2"
    >
      <summary
        class="font-poppns font-light text-xl pb-1 cursor-pointer select-none"
      >
        Art & Craft Coordinator
      </summary>
      <ul class="ml-10 font-black uppercase">
        <li>Kosturi Gogoi</li>
      </ul>
    </details>

    <details
      open
      id="Literary"
      class="border-black border-b-2 w-full sm:border-0 p-2"
    >
      <summary
        class="font-poppins font-light text-xl pb-1 cursor-pointer select-none"
      >
        Literary, Debate & Symposium <br /> Coordinators
      </summary>
      <ul class="ml-10 font-black uppercase">
        <li>Partha Pratim Sharma</li>
        <li>Rittika Talukdar</li>
      </ul>
    </details>

    <details
      open
      id="Volunteer"
      class="border-black border-b-2 w-full sm:border-0 p-2"
    >
      <summary
        class="font-poppins font-light text-xl pb-1 cursor-pointer select-none"
      >
        Volunteer Coordinators
      </summary>
      <ul class="ml-10 font-black uppercase">
        <li>Bishal Kumar Deka</li>
        <li>Dhanashree Kumari</li>
        <li>Jintu Saikia</li>
      </ul>
    </details>
  </div>
</section>
