---
import NonHomeLayout from "../../layouts/NonHomeLayout.astro";
import Card from "../../components/Card.astro";
---

<NonHomeLayout>
	<div id="background-img" class="-z-30"></div>
	<div id="wrapper" class="w-full mx-auto md:max-w-[1300px] mt-16 md:mt-[5em] px-2 md:px-10 sm:pb-10">
		<h1 class="text-5xl font-black font-playfair text-center text-slate-100">Explore The Events</h1>

		<main class="mt-20">
			<div id="event-container" class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-5 pb-10">
				<Card eventName="Ramp Walk" description="Ramp Walk" date="13/03/23" venue="CITK" time="~" contactNumber="~" />
				<Card eventName="Flash Mob" description="Flash Mob" date="13/03/23" venue="CITK" time="5:00PM" contactNumber="~"/>
				<Card eventName="Singing Competition" description="Singing Competition" date="17/03/23" venue="Recreation Centre" time="4:00PM" contactNumber="~" regLink="https://forms.gle/yndqRW7atZT13cL8A"/>
				<Card eventName="Variety Show" description="Variety Show" date="17/03/23" venue="Recreation Centre" time="5:00PM" contactNumber="~" regLink="https://forms.gle/GCfVXa2i9Q5MUmdt8" />
				<Card eventName="Dance Competition" description="Dance Competition" date="22/03/23" venue="CITK" time="5:00PM" contactNumber="~" regLink="https://forms.gle/qGHhQSpY8cujGWKB6"/>
				<Card eventName="KTM onTrack" description="KTM onTrack" date="24/03/23" venue="CITK" time="9:00AM - 4:00PM" contactNumber="~" regLink="https://forms.gle/g4ZW8S55qGLNsd5u5"/>
				<Card eventName="" description="Drama Play" date="12/03/23" venue="Auditorium" time="" contactNumber="" />
				<Card eventName="" description="Bihu Performance" date="12/03/23" venue="Moon" time="" contactNumber="" />
				<Card eventName="" description="Acting Competition" date="12/03/23" venue="Neptune" time="" contactNumber="" />
				<Card eventName="" description="Cultural Rally" date="12/03/23" venue="Venus" time="" contactNumber="" />
				<Card eventName="" description="Concert by Artists" date="12/03/23" venue="Auditorium" time="" contactNumber="" />
			</div>	
		</main>
	</div>
</NonHomeLayout>

<style>
	#background-img{
		position: fixed;
		top: 0;
		bottom: 0;
		height: 100vh;
		width: 100%;
		background-image: url("/assets/party2.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		object-fit: cover;
		background-position: center;
		filter: grayscale(30%);
		filter: brightness(90%);
	}
</style>